{% extends "base.html" %}

{% block content %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">n</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">会议信息编辑</a>
                </div>
                {#    {% include "userdropdown.html" %}#}
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">会议信息编辑</h4>
                            </div>
                            <div class="content">
                                <form id="form1" name="form1"  enctype="application/x-www-form-urlencoded"
                                      method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if conference != None %}
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label>id</label>
                                                        <input type="text" class="form-control" name="id" id="id"
                                                               value="{{ conference.id }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>会议名称</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="name" id="name"
                                                               value="{{ conference.name }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>级别</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="level" id="level"
                                                               value="{{ conference.level }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Deadline</label>
                                                        <input type="text" value="{{ conference.deadline }}" onblur="checknull(this)" class="form-control" placeholder="请选择时间" name="deadline" id="deadline" lay-key="3" readonly>

{#                                                        <input onblur="checknull(this)" type="text" class="form-control" name="deadline"#}
{#                                                               id="deadline" value="{{ conference.deadline }}">#}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>会议时间</label>
                                                        <input type="text" value="{{ conference.startdate }}" onblur="checknull(this)" class="form-control" placeholder="请选择时间" name="startdate" id="startdate" lay-key="3" readonly>

                                                    </div>
                                                    <div class="form-group">
                                                        <label>会议地点</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="location"
                                                               id="location" value="{{ conference.location }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>URL</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="url" id="url"
                                                               value="{{ conference.url }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>上传会议例文</label>
                                                        <div class="fallback">
                                                            <input class="btn" id="cfile"
                                                                   name="cfile" type="file" multiple/>
                                                        </div>
                                                    </div>
                                                    <div style="float: right;">
                                                        <a href="/" class="btn btn-info btn-fill">返回</a>

                                                        <button id="submit_bt" type="button" onclick="send()" class="btn btn-info btn-fill">提交</button>
                                                        <button onclick="deleteconference('{{ conference.id }}')"
                                                                type="button" class="btn btn-danger btn-fill">删除
                                                        </button>

                                                    </div>
                                                    <div class="clearfix"></div>
                                                </fieldset>
                                            {% elif conference == None %}
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label>id</label>
                                                        <input type="text" class="form-control" name="id" id="id"
                                                               value="" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>会议名称</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="name" id="name"
                                                               value="{{ conference.name }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>级别</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="level" id="level"
                                                               value="{{ conference.level }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Deadline</label>
                                                        <input type="text" value="{{ conference.deadline }}" onblur="checknull(this)" class="form-control" placeholder="请选择时间" name="deadline" id="deadline" lay-key="3" readonly>

{#                                                        <input onblur="checknull(this)" type="text" class="form-control" name="deadline"#}
{#                                                               id="deadline" value="{{ conference.deadline }}">#}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>会议时间</label>
                                                        <input type="text" value="{{ conference.startdate }}" onblur="checknull(this)" class="form-control" placeholder="请选择时间" name="startdate" id="startdate" lay-key="3" readonly>
{#                                                        <input  type="text" class="form-control" name="startdate"#}
{#                                                               id="startdate" value="{{ conference.startdate }}">#}
                                                    </div>
                                                    <div class="form-group">
                                                        <label>会议地点</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="location"
                                                               id="location" value="{{ conference.location }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>URL</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control" name="url" id="url"
                                                               value="{{ conference.url }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>上传会议例文</label>
                                                        <div class="fallback">
                                                            <input class="btn" id="cfile"
                                                                   name="cfile" type="file" multiple/>
                                                        </div>
                                                    </div>
                                                    <div style="float: right;">
                                                        <a href="/" class="btn btn-info btn-fill">返回</a>

                                                        <button id="submit_bt" type="button" onclick="send()" class="btn btn-info btn-fill">提交</button>

                                                    </div>
                                                    <div class="clearfix"></div>
                                                </fieldset>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script>
        lay('#version').html('-v'+ laydate.v);

        //执行一个laydate实例
        laydate.render({
          elem: '#startdate' //指定元素
            ,format: 'yyyy-MM-dd'
        });
        //执行一个laydate实例
        laydate.render({
          elem: '#deadline' //指定元素
            ,type: 'datetime'
        });
        function checknull(obj) {
            obj.style.borderColor = obj.value == "" ? 'red' : '';
        }
    
        function send() {
            var f = document.getElementById("form1");
            for (var i = 0; i < f.elements.length; i++) {
                if (f.elements[i].value == "" && f.elements[i].id != 'cfile' && f.elements[i].id != 'id' && f.elements[i].type != 'button') {
                    alert("当前表单不能有空项");
                    f.elements[i].style.borderColor = 'red';
                    return false;
                }
            }
            var form = new FormData(f);
            var bt = document.getElementById('submit_bt')
            bt.innerHTML = '正在提交请稍等'
            bt.disabled = true;
            $.ajax({
                url: '/saveconference',
                type: 'post',
                cache: true,
                data: form,
                processData: false,
                contentType: false,
                success: function (result) {
                    alert(result[1])
                    bt.innerHTML = '提交'
                    bt.disabled = false;
                    if (result[0] == 2) {

                        document.getElementById('cfile').value = '';
                        return
                    }
                    window.location.href = '/'


                }
            });
        }
        function deleteconference(cid) {
            $.ajax({
                url: '/deleteconference',

                dataType: 'json',
                data: {
                    'id': cid
                },

                success: function (result) {
                    alert(result[1])
                    window.location.href = '/'
                }
            });
        }
    </script>

{% endblock content %}
