{% extends "base.html" %}

{% block content %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">n</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Url指纹信息编辑</a>
                </div>
                {#    {% include "userdropdown.html" %}#}
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Url指纹信息编辑</h4>
                            </div>
                            <div class="content">
                                <form id="form1" name="form1" enctype="headerlication/x-www-form-urlencoded"
                                      method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if u != None %}
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label>id</label>
                                                        <input type="text" class="form-control" name="urlid" id="urlid"
                                                               value="{{ u.urlid }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>应用id</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="appid" id="appid"
                                                               value="{{ u.appid }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>指纹类型</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="matchtype" id="matchtype"
                                                               value="{{ u.matchtype }}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>指纹</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="matchvalue"
                                                               id="matchvalue" value="{{ u.matchvalue }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>指纹来源</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="fpfrom"
                                                               id="fpfrom" value="{{ u.fpfrom }}">
                                                    </div>
                                                    <div style="float: right;">
                                                        <a href="/urllist" class="btn btn-info btn-fill">返回</a>

                                                        <button id="submit_bt" type="button" onclick="send()" class="btn btn-info btn-fill">提交</button>
                                                        <button onclick="deleteurl('{{ u.urlid }}')"
                                                                type="button" class="btn btn-danger btn-fill">删除
                                                        </button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </fieldset>
                                            {% elif u == None %}
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label>id</label>
                                                        <input type="text" class="form-control" name="urlid" id="urlid"
                                                               value="{{ u.urlid }}" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>应用id</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="appid" id="appid"
                                                               value="{{ u.appid }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>指纹类型</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="matchtype" id="matchtype"
                                                               value="{{ u.matchtype }}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>指纹</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="matchvalue"
                                                               id="matchvalue" value="{{ u.matchvalue }}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>指纹来源</label>
                                                        <input onblur="checknull(this)" type="text" class="form-control"
                                                               name="fpfrom"
                                                               id="fpfrom" value="{{ u.fpfrom }}">
                                                    </div>
                                                    <div style="float: right;">
                                                        <a href="/urllist" class="btn btn-info btn-fill">返回</a>

                                                        <button id="submit_bt" type="button" onclick="send()" class="btn btn-info btn-fill">提交</button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </fieldset>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    <script>
{#        lay('#version').html('-v' + laydate.v);#}
{##}
{#        //执行一个laydate实例#}
{#        laydate.render({#}
{#            elem: '#startdate' //指定元素#}
{#            , format: 'yyyy-MM-dd'#}
{#        });#}
{#        //执行一个laydate实例#}
{#        laydate.render({#}
{#            elem: '#deadline' //指定元素#}
{#            , type: 'datetime'#}
{#        });#}
        function checknull(obj) {
            obj.style.borderColor = obj.value == "" ? 'red' : '';
        }

        function send() {
            var f = document.getElementById("form1");
            for (var i = 0; i < f.elements.length; i++) {
                if (f.elements[i].value == "" && f.elements[i].id != 'urlid' && f.elements[i].type != 'button') {
                    alert("当前表单不能有空项");
                    f.elements[i].style.borderColor = 'red';
                    return false;
                }
            }
            var form = new FormData(f);
            var bt = document.getElementById('submit_bt')
            bt.innerHTML = '正在提交请稍等'
            bt.disabled = true;
            $.ajax({
                url: '/saveurl',
                type: 'post',
                cache: true,
                data: form,
                processData: false,
                contentType: false,
                success: function (result) {
                    alert(result[1])
                    bt.innerHTML = '提交'
                    bt.disabled = false;
                    if (result[0] == 2) {

                        return
                    }
                    window.location.href = '/urllist'


                }
            });
        }
        function deleteurl(aid) {
            $.ajax({
                url: '/deleteurl',

                dataType: 'json',
                data: {
                    'urlid': aid
                },

                success: function (result) {
                    alert(result[1])
                    window.location.href = '/urllist'
                }
            });
        }
    </script>

{% endblock content %}
