<div class="sidebar" data-color="">

  <div class="sidebar-wrapper">
    <div class="logo">
        <img style="width: 95px; height: 72px;" src="/static/img/logo.png" id="plat_graph">
    </div>

    <ul class="nav">
      <li>
        <a href="/">
          <i class="pe-7s-graph2"></i>
          <p>应用列表</p>
        </a>
      </li>
      <li>
        <a href="/headerlist">
          <i class="pe-7s-file"></i>
          <p>Header指纹列表</p>
        </a>
      </li>
      <li>
        <a href="/htmllist">
          <i class="pe-7s-file"></i>
          <p>Html指纹列表</p>
        </a>
      </li>
      <li>
        <a href="/implielist">
          <i class="pe-7s-file"></i>
          <p>Implie指纹列表</p>
        </a>
      </li>
      <li>
        <a href="/metalist">
          <i class="pe-7s-file"></i>
          <p>Meta指纹列表</p>
        </a>
      </li>
      <li>
        <a href="/scriptlist">
          <i class="pe-7s-file"></i>
          <p>Script指纹列表</p>
        </a>
      </li>
      <li>
        <a href="/urllist">
          <i class="pe-7s-file"></i>
          <p>Url指纹列表</p>
        </a>
      </li>
      <li>
        <a href="/webresultlist">
          <i class="pe-7s-file"></i>
          <p>Web指纹列表</p>
        </a>
      </li>
      <li>
        <a href="/statistics">
          <i class="pe-7s-file"></i>
          <p>数据统计</p>
        </a>
      </li>
{#      <li>#}
{#        <a href="/usersetting">#}
{#          <i class="pe-7s-users"></i>#}
{#          <p>用户设置</p>#}
{#        </a>#}
{#      </li>#}
    </ul>
  </div>
</div>
